<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>########### | Математика</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/content.css" />
    <link rel="stylesheet" href="/css/premade.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
  </head>

  <body>
    <main id="bookPage">
      <div class="ju_container">
        <div class="heading df">
          <a href="###############.html">Назад</a>
          <a href="/pages/guides.html">Начало</a>
          <a href="/pages/login/login.html">Вход</a>
        </div>
      </div>
      <div class="ju_container">
        <div class="instructions df">
          <div class="w100">
            <h1>Тема</h1>
            <ul>
              <li><a class="p-link" href="#part1">Быстрые ссылки</a></li>
              <li><a class="p-link" href="#part2">Быстрые ссылки</a></li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="ju_container">
        <footer class="footer df">
          <a href="#.html">&lt;&lt; Назад</a>
          <a href="#.html">ТЕМА &gt;&gt;</a>
        </footer>
      </div>
      <div class="heading df fixed-bot flex-cen_cen" id="scroll-top">
        <a href="#">^ Вверх ^</a>
      </div>
    </main>
    <script src="/js/logic/goTopAnimation.js"></script>
  </body>
</html>
